html,body,#background { height: 100%; width: 100%; }
html,body,input,pre { margin:0; padding:0 }

body { background-color:black; }

#background {
  position: absolute; left:0; top:0;
  overflow: hidden;
  background: no-repeat center center fixed;
  background-size: contain;
}


#video-container,#video-overlay {
    position: fixed;
    bottom: -50px; left: -50px;
    top: -50px;    right: -50px;
}
#video-overlay { opacity: 0; }

.hidden { display: none; }

#change {
    position: fixed;
    right: 1em; bottom: 1em;
    font-size: 200%;
    background: #999;
}

#wordGuide, #wordInput, #wordInput:focus { border:none; outline:none; }

/* TODO(wdm) Consider Open Sans or Varela Round, or Robotouse. */
				       
  
#wordGuide, #wordInput {
  font-size: 6vw;
  font-family: 'Anonymous Pro', sans-serif;
  background: rgba(0,0,0,0.6);
  color:#eee;
  position:fixed;
  left: 0; bottom: 0;
  padding-left: 5%;
  width: 100%;
  text-transform: uppercase;
}

#wordGuide { color:#999; }

#wordInput.typo { color: red; }

/* Can't use *::selection { background: transparent; } for a text input */

#prompt {
    color: white;
    position: fixed;
    bottom: 4em; left: 3em;
    font-size: 200%;
}
